.header__lang-link {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin: 0 0 0 18px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    width: 30px;
    height: 28px;

}

@media screen and (max-width: 350px) {
    .header__lang-link {
        font-size: 18px;
    }
}

.header__lang-link:first-child {
    margin: 0;
}

.header__lang-link:hover {
    text-decoration: underline;
    text-shadow: 1px 0 0 #000;
}