.places {
    display: flex;
    justify-content: center;
    align-items: center;
}

.places:not(:last-child) {
    margin-bottom: 80px;
}

@media screen and (max-width: 800px) {
    .places {
        max-width: 768px;
        margin-top: 0;
        justify-content: center;
        align-items: center;
    }
    .places:not(:last-child) {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 350px) {
    .places {
        max-width: 100%;
    }
    .places:not(:last-child) {
        margin-bottom: 0;
    }
}