@import url("/InterWeb/inter.css");
@import "blocks/container/container.css";
@import "blocks/header/header.css";
@import "blocks/header/__logo/header__logo.css";
@import "blocks/header/__lang/header__lang.css";
@import "blocks/header/__lang-link/header__lang-link.css";


.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lead__title {
    width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 280px 32px 280px;
}

@media screen and (max-width: 1030px) {
    .lead__title {
        margin: 0 152px 32px 152px;
    }
}

@media screen and (max-width: 800px) {
    .lead__title {
        margin: 0 24px 32px;
    }
}

@media screen and (max-width: 350px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin: 48px 16px 16px;
    }
}

.lead__subtitle {
    justify-content: center;
    width: 640px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 320px;
    margin-right: 320px;
    margin-bottom: 64px;
}

@media screen and (max-width: 1030px) {
    .lead__subtitle {
        margin-bottom: 56px;
        margin-left: 192px;
        margin-right: 192px;
    }
}

@media screen and (max-width: 800px) {
    .lead__subtitle {
        margin-bottom: 56px;
        margin-left: 64px;
        margin-right: 64px;
    }
}

@media screen and (max-width: 350px) {
    .lead__subtitle {
        max-width: 288px;
        margin: 0 16px 40px;
        font-size: 16px;
        line-height: 20px;
    }
}

.lead__caption {
    width: 160px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 148px 92px;
    color: #FFFFFF;


}

@media screen and (max-width: 1030px) {
    .lead__caption {
        align-self: flex-start;
        margin-left: 48px;
    }
}

@media screen and (max-width: 800px) {
    .lead__caption {
        align-self: flex-start;
        margin-left: 24px;
    }
}

@media screen and (max-width: 350px) {
    .lead__caption {
        max-width: 320px;
        margin: 0 16px 64px;
        font-size: 10px;
    }
}

.lead__image {
    width: 984px;
    margin-left: 148px;
    margin-right: 148px;
}

@media screen and (max-width: 1030px) {
    .lead__image {
        width: 928px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 800px) {
    .lead__image {
        width: 768px;
        margin: 0;
    }
}

@media screen and (max-width: 350px) {
    .lead__image {
        max-width: 100%;
        margin: 0;
    }
}

.intro {
    display: grid;
    width: inherit;
}

@media screen and (max-width: 800px) {
    .intro {
        width: 768px;
    }
}

@media screen and (max-width: 350px) {
    .intro {
        max-width: 320px;
        margin: 0;
        padding: 0;
    }
}

/*@media screen and (max-width: 350px) {*/
/*    .intro {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

.intro__title {
    max-width: 690px;
    height: 58px;
    margin-left: 148px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

@media screen and (max-width: 1030px) {
    .intro__title {
        margin-left: 48px;
    }
}

@media screen and (max-width: 800px) {
    .intro__title {
        max-width: 720px;
    }
}

@media screen and (max-width: 350px) {
    .intro__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px 40px;
        /*max-width: 288px;*/
    }
}

.intro__text {
    max-width: 690px;
    /*height: 208px;*/
    margin-left: 148px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 33px;
}

@media screen and (max-width: 1030px) {
    .intro__text {
        margin-left: 48px;
    }
}

@media screen and (max-width: 800px) {
    .intro__text {

        font-family: 'Inter', serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
        width: 720px;
    }
}

@media screen and (max-width: 350px) {
    .intro__text {
        max-width: 288px;
        margin-left: 16px;
        line-height: 26px;
        font-size: 16px;
    }
}

.intro__list {
    font-family: 'Inter', sans-serif, Arial;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: auto 148px 92px;
    list-style-type: none;
}

@media screen and (max-width: 1030px) {
    .intro__list {
        margin-left: 48px;
    }
}

@media screen and (max-width: 800px) {
    .intro__list {
        width: 720px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 350px) {
    .intro__list {
        max-width: 288px;
        margin: 0 16px 40px;
    }
}

.intro__list-numb {
    font-weight: normal;
}

.photo-grid {
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    gap: 16px;
}

.photo-grid__item {
    height: 213px;
    width: 100%;
    object-fit: cover;

}

@media screen and (max-width: 1030px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 48px;
    }
}

@media screen and (max-width: 800px) {
    .photo-grid {
        grid-template-columns: repeat(2, 352px);
        width: 768px;
        margin: auto;
        padding: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {
    .photo-grid {
        grid-template-columns: 1fr;
        padding: 0 16px;
        max-width: 320px;
    }
}

.places {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .places {
        max-width: 768px;
    }
}

@media screen and (max-width: 350px) {
    .places {
        max-width: 100%;
    }
}

.place {
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 1030px) {
    .place {
    }
}

@media screen and (max-width: 800px) {
    .place {
    }
}

@media screen and (max-width: 350px) {
    .place {
        width: 100%;
    }
}

.place__some-class {
    display: flex;
    align-items: end;
    margin-bottom: 48px;
}

@media screen and (max-width: 1030px) {
    .place__some-class {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .place__some-class {
        width: 100%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 350px) {
    .place__some-class {
        flex-direction: column;
        width: 100%;
        margin-bottom: 24px;
        align-items: normal;
    }
}

.place__another-class {
    display: flex;
}

@media screen and (max-width: 1030px) {
    .place__another-class {
    }
}

@media screen and (max-width: 350px) {
    .place__another-class {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
}

.place__title {
    width: 460px;
    font-weight: 900;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 80px;
}

@media screen and (max-width: 1030px) {
    .place__title {
        width: 438px;
        margin: 92px 48px 0;
    }
}

@media screen and (max-width: 800px) {
    .place__title {
        width: 340px;
        margin-left: 24px;
        margin-top: 73px;
    }
}

@media screen and (max-width: 350px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin: 64px 16px 32px;
        padding: 0;
    }
}

.place__website {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1030px) {
    .place__website {
        padding-left: 32px;
    }
}

@media screen and (max-width: 800px) {
    .place__website {
    }
}

@media screen and (max-width: 350px) {
    .place__website {
        max-width: 288px;
        padding-left: 16px;
    }
}

.place__website__url-heading {
    width: 288px;
    height: 12px;
    /*margin-right: 16px;*/
    /*margin-bottom: 12px;*/
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
}

.place__website__link {
    width: 288px;
    height: 22px;
    font-family: 'Inter', sans-serif, Arial;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    display: block;
}


.place__website__link:hover {
    opacity: 0.8;
}


.place__image {
    display: block;
    width: 460px;
    height: 460px;
    /*margin-bottom: 80px;*/
    /*margin-left: 148px;*/
    /*margin-bottom: 80px;*/
}

@media screen and (max-width: 1030px) {
    .place__image {
        width: 440px;
        height: 440px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 800px) {
    .place__image {
        width: 340px;
        height: 340px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 350px) {
    .place__image {
        width: 100%;
        margin: 0 0 32px;
        padding: 0;

    }
}

.place__image:last-child {
    margin-bottom: 92px;
}

.paragraph {
    width: 484px;
    margin-left: 40px;
    /*margin-right: 16px;*/
    /*margin-bottom: 25px;*/
    font-family: 'Inter';
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 1030px) {
    .paragraph {
        margin-left: 32px;
    }
}

@media screen and (max-width: 800px) {
    .paragraph {
        margin-left: 32px;
        width: 352px;
    }
}

@media screen and (max-width: 350px) {
    .paragraph {
        width: 288px;
        font-size: 16px;
        line-height: 26px;
        margin: 0 16px;
    }
}

.paragraph:not(:last-child) {
    margin-bottom: 27px;
}

.cover {
    display: flex;
    /*max-width: 1184px;*/
    min-height: 740px;
    background-image: url("./img/sprint-3-images/cover-trains.jpg");
    background-size: contain;

    margin: 92px 48px 92px;
    text-decoration: none;
    position: relative;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1030px) {
    .cover {
        max-width: 1030px;
        min-height: 640px;
        margin: 92px 0 92px;
    }
}

@media screen and (max-width: 800px) {
    .cover {
        width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 350px) {
    .cover {
        width: 100%;
        min-height: 200px;
    }
}

.cover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: #2A2C2F;
}

.cover__overlay {
}
@media screen and (max-width: 800px) {
    .cover__overlay {
    }
}

.cover__title {
    display: flex;
    align-content: center;
    max-width: 560px;
    min-height: 152px;
    /*opacity: 0.3;*/
    font-family: 'Inter', sans-serif, Arial;
    text-align: center;
    color: #FFFFFF;
    font-size: 72px;
    line-height: 76px;
    margin: 245px 312px 0;
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 1030px) {
    .cover__title {
        margin: 150px 232px 0;
    }
}

@media screen and (max-width: 800px) {
    .cover__title {
        margin: 115px 100px 0;
        line-height: 76px;
    }
}

@media screen and (max-width: 350px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin: 32px 16px 0;
    }
}

.cover__subtitle {
    max-width: 360px;
    min-height: 66px;
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 32px 412px 245px;
    z-index: 1;
    position: relative;;
}

@media screen and (max-width: 1030px) {
    .cover__subtitle {
        margin: 32px 332px 195px;
    }
}

@media screen and (max-width: 800px) {
    .cover__subtitle {
        margin: 32px 100px 115px;
        left: 115px;
    }
}

@media screen and (max-width: 350px) {
    .cover__subtitle {
        max-width: 320px;
        font-size: 14px;
        line-height: 16px;
        left: 0;
        bottom: 60px;
        margin: 0;

    }
}

.cover-background {
    width: 1184px;
}

@media screen and (max-width: 1030px) {
    .cover-background {
        width: 1024px;
    }
}

@media screen and (max-width: 800px) {
    .cover-background {
        width: 768px;
        height: 480px;
        object-fit: cover;
    }
}

@media screen and (max-width: 350px) {
    .cover-background {
        max-width: 320px;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}


@media screen and (max-width: 800px) {
    .footer {
        width: 768px;
    }
}

@media screen and (max-width: 350px) {
    .footer {
        max-width: 320px;
        flex-direction: column;
        align-items: start;
        margin-top: -75px;

    }
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    width: 465px;
    margin-left: 48px;
}

@media screen and (max-width: 800px) {
    .footer__menu {
        width: 413px;
    }
}

@media screen and (max-width: 350px) {
    .footer__menu {
        max-width: 320px;
        flex-direction: column;
        min-height: 348px;
        justify-content: space-between;
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 48px 16px;
    }
}

.footer__link {
    text-decoration: none;
    font-family: 'Inter', serif;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer__copyright {
    margin-right: 48px;
    height: 14px;
    left: 16px;
    font-family: 'Inter', sans-serif, Arial;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration-line: initial;
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 350px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        margin-left: 16px;
    }
}
