.place__image {
    display: block;
    max-width: 460px;
}

@media screen and (max-width: 1279px) {
    .place__image {
        max-width: 440px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .place__image {
        max-width: 340px;
        margin-left: 24px;
        /*width: 440px;*/
        /*height: 440px;*/
        /*margin-left: 48px;*/
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        width: 100%;
        margin: 0 0 32px;
        padding: 0;
        /*width: 340px;*/
        /*height: 340px;*/
        /*margin-left: 24px;*/
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        width: 100%;
        margin: 0 0 32px;
        padding: 0;
    }
}

.place__image:last-child {
    margin-bottom: 92px;
}