.intro__list {
    padding: 0;
    font-family: 'Inter', sans-serif, Arial;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    margin: 0 0 0 148px;
}

@media screen and (max-width: 1024px) {
    .intro__list {
        margin: 0 0;
    }
}

@media screen and (max-width: 767px) {
    .intro__list {
        /*!*width: 720px;*!*/
        margin: 0 24px 88px;
    }
}

@media screen and (max-width: 350px) {
    .intro__list {
        margin: 0 0 64px 16px;
    }
}
