.footer__menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}



@media screen and (max-width: 767px) {
    .footer__menu {
        flex-direction: column;
        margin-bottom: 48px;
    }
}
@media screen and (max-width: 320px) {
    .footer__menu {
        flex-direction: column;
        margin-bottom: 48px;
    }
}
