.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', serif;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 350px) {
    .lead {
        max-width: 320px;
    }
}