.header {
    display: flex;
    justify-content: space-between;
    padding: 28px 24px 0px 48px;
    align-items: center;
    margin-bottom: 48px;
    text-align: end;
}

@media screen and (max-width: 800px) {
    .header {
        width: 90%;
        margin: 0 auto 48px;
    }
}

@media screen and (max-width: 350px) {
    .header {
        max-width: 300px;
        margin: 16px auto;
        padding: 0;
    }
}