.header {
    width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    margin: 28px 48px 56px;
    align-items: center;
    text-align: end;
}

@media screen and (max-width: 1030px) {
    .header {
        padding: 0;
        margin: 28px 48px 48px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        width: calc(100% - 48px);
        margin: 28px 24px 48px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: calc(100% - 32px);
        margin: 16px 16px 48px;
    }
}