.place__info {
    display: flex;
    align-items: end;
    margin-bottom: 48px;
}

@media screen and (max-width: 1279px) {
    .place__info{
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .place__info{
        width: 100%;
        flex-direction: row;
    }
}

@media screen and (max-width: 767px) {
    .place__info {
        flex-direction: column;
        margin-bottom: 24px;
        align-items: flex-start;
    }
}

@media screen and (max-width: 320px) {
    .place__info {
        width: 100%;
        align-items: normal;
    }
}