.place__info {
    display: flex;
    align-items: end;
    margin-bottom: 48px;
}

@media screen and (max-width: 1030px) {
    .place__info{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .place__info {
        width: 100%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 350px) {
    .place__info {
        flex-direction: column;
        width: 100%;
        margin-bottom: 24px;
        align-items: normal;
    }
}