.place__paragraph {
    width: 484px;
    margin-top: 0;
    margin-left: 40px;
    font-family: 'Inter', serif;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        margin-left: 28px;
        max-width: 352px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        line-height: 26px;
        font-size: 16px;
        margin: 0 0 0 28px;
        max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin: 0 16px;
        width: 288px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        margin-left: 16px;
    }
}

.place__paragraph:not(:last-child) {
    margin-bottom: 27px;
}