.intro__text {
    display: flex;
    max-width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0 0 33px 148px;
}

@media screen and (max-width: 1024px) {
    .intro__text {
        justify-content: left;
        max-width: 690px;
        margin: 0 0 33px;
    }
}

@media screen and (max-width: 768px) {
    .intro__text {
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro__text {
        margin-left: 24px;
    }
}

@media screen and (max-width: 350px) {
    .intro__text {
        max-width: 288px;
        margin: 0 0 34px 16px;
    }
}
