.place__website-link {
    width: 288px;
    height: 22px;
    font-family: 'Inter', sans-serif, Arial;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    display: block;
}


.place__website-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1023px) {
    .place__website-link {
        line-height: 12px;
        font-size: 12px;
    }
}