.lead__caption {
    font-family: 'Inter', serif;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 148px 92px;
    color: #FFFFFF;
    align-self: start;
}

@media screen and (max-width: 1030px) {
    .lead__caption {
        align-self: flex-start;
        margin-left: 48px;
    }
}

@media screen and (max-width: 800px) {
    .lead__caption {
        align-self: flex-start;
        margin-left: 24px;
    }
}

@media screen and (max-width: 350px) {
    .lead__caption {
        margin: 0 16px 64px;
        font-size: 10px;
    }
}