.cover__title {
    display: flex;
    align-content: center;
    max-width: 560px;
    min-height: 152px;
    font-family: 'Inter', sans-serif, Arial;
    text-align: center;
    color: #FFFFFF;
    font-size: 72px;
    line-height: 76px;
    margin: 245px 312px 0;
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        margin: 150px 232px 0;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        margin: 115px 100px 0;
        line-height: 76px;
    }
}

@media screen and (max-width: 350px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin: 32px 16px 0;
    }
}