.place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .place {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 350px) {
    .place {
        max-width: 320px;
        justify-content: center;
        align-items: center;
    }
}