.footer {
    margin: 92px auto 0;
    padding: 0;
    width: calc(100% - 2*48px);
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .footer {
        width: calc(100% - 2*24px);
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: calc(100% - 2*24px);
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        align-items: flex-start;
        width: 90%;
        margin-left: 16px;
        margin-top: 64px;
    }
}

