.place__website {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1030px) {
    .place__website {
        padding-left: 32px;
    }
}

@media screen and (max-width: 800px) {
    .place__website {
    }
}

@media screen and (max-width: 350px) {
    .place__website {
        max-width: 288px;
        padding-left: 16px;
    }
}