.place__website {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

@media screen and (max-width: 1279px) {
    .place__website {
        padding-left: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place__website {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .place__website {
        font-size: 18px;
        max-width: 288px;
        padding: 0;
        margin-left: 35px;
    }
}

@media screen and (max-width: 350px) {
    .place__website {
        margin-left: 16px;
    }
}